
.primary{
    color: #18c908;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.intro-block .row{
    align-items:center;
}

.avatar{
    width: 20%;
}

.avatar img{
    width: 90%;
    border-radius: 60%;
    overflow: hidden;
  }
.avatar img{
    transform:scale(1,1);
    transition: all 1s ease-out;
}

.avatar img:hover{
    transform:scale(1.5,1.5);
}

.content{
    width: 80%;
}

.contact-me ul{
    list-style: none;
    padding: 0;
}

.contact-me>ul li{
    display: inline;
    padding: 0 5px; /*0=上下 5=左右*/

}.contact-me a{
    text-decoration: none;
}.secondary{
    color:blue;
}

.title {
    font: size 24px;
}
.education-item {
    display: flex;
    align-items: center;
    width: 33.33333%;
}

.education-item.logo {
    width: 20%;
}
.education-item .logo img {
    width: 100%;
    border-radius: 50%;
    
}

.education-item img{
    transform:scale(1,1);
    transition: all 1s ease-out;
    overflow: hidden;
}

.education-item img:hover{
    transform:scale(1.5,1.5);
}

.education-item ul li{
    list-style: none;
    padding: 5px 0;
}

.education-item ul :nth-child(1) {
    color:blueviolet;
}

.education-item ul :nth-child(2) {
    font-weight: 700;
    font-size: 20px;
}

.education-item ul :nth-child(3) {
    color:blue
}
.other-block {
    display:flex;
    flex-wrap: wrap;
}
.other-block h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid red;
}
.skill {
    padding-right: 5px;
}
.language {
    padding-left: 5px;
}
.other-block>div {
    width: 50%;
}
.other-block>* {
    box-sizing: border-box;
}